.uploadpaper{
    height: 120px;
    width: 600px;
    border-radius: 15px;
}
.upload-top{
    display: flex;
}
.upload-img{
    margin-top: 15px;
    margin-left: 15px;

}
.upload-inputbox{
    height: 40px;
    width: 480px;
    border: 0px;
    border-radius: 30px;
    background-color: #EFF2F5;
    font-size: 15px;
    padding-left: 20px;
    margin: 15px;

}
.upload-bottom{
    border-top: 1px solid #E3E6EA;
    display: flex;
    margin-left: 60px;
    padding-top: 5px;

}
.upload-tabs{
    width: 150px;
    display: flex;

}
.upload-text{
margin: 5px;
}